<a href="https://colab.research.google.com/github/Sofia-Molinaro/Fundamentos_Informatica_Python/blob/main/TP2_FI_UNAJ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3) Pedir que se ingrese un número e imprimir el triple.

In [ ]:
n = int(input('Ingrese un número. Se calculará su triple: '))
#n = int(n)
triple = n * 3
print('El triple de',n,'es:',triple)

# def triple(a):
#   """Recibe un número y retorna su triple"""
#   ie, dado a retorna a*3

# n = input('Ingrese un número: ')
# n = int(n) #Transforma la cadena n en un número entero.

# print(f'El triple de {n} es {triple(n)}')

Ingrese un número: 3
El triple de 3 es 9

In [ ]:
# Realizar un programa que imprima la siguente cadena de texto:
# 1,2,Miki,4,Moko,Miki,7,8,Miki,Moko,11,Miki
#,13,14,MikiMoko,16,17,Miki,...

for i in range(1, 101):
    if i % 3 == 0 and i % 5 ==0:
        print("MikiMoko")
    elif i % 3 == 0:
        print("Miki")
    elif i % 5 == 0:
        print("Moko")
    else:
        print(i)

Pedir que se ingrese un número e imrimir la mitad.

In [ ]:
n = int(input('Se calculará la mitad del número que ingrese: '))
mitad = n // 2
print('La mitad del número',n,'es:',mitad)
print(f'La mitad del número {n} es {mitad}') # Interpolación de strings

Se calculará la mitad del número que ingrese: 12
La mitad del número 12 es: 6

Pedir que se ingrese 3 notas e imprimir el promedio. Recordar que el promedio es la suma de los números dividido la cantidad.

In [ ]:
n1 = float(input('Ingrese el primer número: '))
n2 = float(input('Ingrese el segundo número: '))
n3 = float(input('Ingrese el tercer número: '))
promedio = (n1 + n2 + n3) / 3
print('El promedio de los número ingresados es: ',promedio)

Pedir base y altura de un triángulo y mostrar el área del mismo

In [ ]:
base = float(input('Ingrese la base del triángulo: '))
altura = float(input('Ingrese la altura del triángulo: '))
area = (base * altura) / 2  
print('El área del triángulo es: ',area)

Pedir el diámetro de un círculo y calcular su área y perímetro. Recordar que
Perímetro = π * Diámetro , Área = π * radio2
. Por último, el diámetro = 2 * radio

In [ ]:
from math import pi

diametro = float(input('Ingrese el diametro del círculo: '))
radio = diametro / 2
perimetro = pi * diametro
area = pi  * radio
print('El área del círculo es: ',round(area,2),'El perímetro del círculo es: ',round(perimetro,2))

Ingrese el diametro del círculo: 2
El área del círculo es:  3.14 El perímetro del círculo es:  6.28

Pedir 2 números y mostrar la división entre ellos y el resto.

In [ ]:
n1 = int(input('Ingrese el dividendo: '))
n2 = int(input('Ingrese el divisor: '))
if n2 != 0:
  cociente = n1 // n2
  resto = n1 % n2
print('El cociente de la división: ',cociente,'El resto de la división es: ',resto)

Pedir alto, ancho y largo de una pileta. Calcular el volumen y la cantidad de litros
que tiene. (saber que 1000 cm3=1 litro)

In [ ]:
alto = float(input('Ingrese el alto de la pileta en cm: '))
ancho = float(input('Ingrese el ancho de la pileta en cm: '))
largo = float(input('Ingrese el largo de la pileta en cm: '))
volumen = alto * ancho * largo
cantidad_litros = volumen / 1000
print('El volumen de la piscina es: ',volumen,'cm.','\n La cantidad de litros que tiene la piscina es: ',cantidad_litros)

Pedir ancho y largo de un terreno y mostrar cuántos paneles de pasto hay que
comprar (son de 60x60 cm)

In [ ]:
ancho = float(input('Ingrese el alto del terreno en cm: '))
largo = float(input('Ingrese el largo del terreno en cm: '))
paneles = ancho * largo
area_paneles = 60 * 60
cantidad_paneles = paneles / area_paneles
print ('Hay que comprar ',cantidad_paneles, 'paneles de pasto')

Pedir datos de 4 productos comprados, con su cantidad y precio unitario y mostrar
cuánto se gasta por cada producto y el total

In [ ]:
total = 0
for i in range(1,5):
  print(f'Producto nùmero {i}')
  c = int(input('Ingrese la cantidad: '))
  p = float(input('Ingrese precio unitario: '))
  print(f'Gasto: $ {c*p}')
  total += c*p
print(f'El total gastado es ${total}')

Diseña un programa que, a partir del valor del lado de un cuadrado (3 metros),
muestre el valor de su perímetro (en metros) y el de su área (en metros cuadrados). (El perímetro
debe darte 12 metros y el área 9 metros cuadrados.)

In [ ]:
lado = float(input('Ingrese el lado de un cuadrado en metros: '))
perimetro = lado * 4
area = lado * lado
print('El valor del perímetro de un cuadrado es: ',perimetro,'m','\n El área del cuadrado es: ',area,'m2')

# **Cadenas de texto**

Pedir que se ingrese un nombre e imprimir un saludo, ejemplo: 'hola Juan'

In [ ]:
nombre = str(input('Ingrese un nombre: '))
print('Hola',nombre)

Pedir tres palabras y mostrar un texto con las iniciales de las tres.

In [ ]:
p1 = input('Ingrese una palabra: ')
p2 = input('Ingrese una palabra: ')
p3 = input('Ingrese una palabra: ')

iniciales = p1[0] + p2[0] + p3[0] 

print('Texto con las iniciales de las tres palabras solicitadas: ', iniciales)

In [ ]:
#muestra la lista de texto
p = "Hola"
p[0] + p[1]

c = ""
c + p[2]
c = c + p[2]
c
# for l in p:
#   print(l)

for i in range(len(p)):
  print(p[i])

Pedir tres palabras y mostrar un texto con las tres letras finales.

In [ ]:
p1 = input("Ingrese una palabra: ")
p2 = input("Ingrese una palabra: ")
p3 = input("Ingrese una palabra: ")

t = p1[len(p1) -1] + p2[len(p2) -1] + p3[len(p3) -1]
print(f'Texto: {t}')

Pedir un verbo en infinitivo y mostrar su terminación (ar, er o ir)

In [ ]:
v = input('Verbo en inifinitivo: ')
# Solución usando slices
# print(v[-2::])

t = '' # Un acumulador de letras
for i in range(len(v)-2,len(v)): # Las últimas dos letras --> Desde el anteúltimo (len(v) - 2), hasta el final(len(v)) -- Pensarlo con papel
   t += v[i]
print(t)

Pedir nombre, apellido, nro. de alumno y comisión que desea suscribirse. Mostrar
el siguiente mensaje “La solicitud de inscripción a la comisión <comision> solicitada por el
alumno <apellido>, <nombre> está siendo procesada”

In [ ]:
nombre = input('Ingrese su nombre: ')
apellido = input('Ingrese su apellido: ')
nro_de_alumno = input('Ingrese su nro. de alumno: ')
comision = input('Ingrese su comisión: ')
print('La solicitud de inscripción',nro_de_alumno,'de la comisión',comision, 'solicitada por el alumno',apellido, nombre, ' está siendo procesada')

Pedir cuatro datos, quién, qué hizo, cuándo y cómo. Mostrar la siguiente noticia:
“Última noticia!, la persona xx, en el dia xx, hizo xx, de la siguiente manera xx”

In [ ]:
quien = input('¿Quién?: ')
que = input('¿Qué?: ')
cuando = input('¿Cuándo?: ')
como = input('¿Cómo?: ')

print(f'Última noticia! {quien}, en {cuando} {que} {como}')

¿Quién?: Cochiloco
¿Qué?: rompió un vaso
¿Cuándo?: Navidad
¿Cómo?: jugando a la escondida
Última noticia! Cochiloco, en Navidad rompió un vaso jugando a la escondida

Pedir nombre, apellido de una persona y el día, mes, año en que nació. Armarle una
clave con esos datos (su clave seria sus iniciales seguido de un guión bajo y de su año de
nacimiento) y mostrarla.

In [ ]:
nombre = input('Ingrese su nombre: ')
apellido = input('Ingrese su apellido: ')
dia = input('Ingrese el día de su nacimiento: ')
mes = input('Ingrese su mes de nacimiento: ')
año = input('Ingrese su año de nacimiento: ')

iniciales = nombre[0] + apellido[0]

print('Su posible clave podría ser: ',iniciales,'_',año)

Mostrar 5 veces la cadena “Hola”

In [ ]:
for x in range(5):
  print('Hola')

# **Listas y tuplas**

Ejecutar los siguientes códigos. ¿Cuál es el resultado de las siguientes ejecuciones?.

Justificar

a) tupla=(1,True,['a','b','c'], "hola")

tupla[1]=False

b) tupla=(1,True,['a','b','c'], "hola")

tupla[2][0]='b'

In [ ]:
#A)No se puede ejecutar el programa porque los elementos de la tupla son inmutables, no se puede modificar. 
tupla = (1,True,['a','b','c'], "hola")

tupla[1] = False

print(tupla)

In [ ]:
#B)cambia el primer elemento de la lista ubicada en la posición 2.
tupla = (1,True,['a','b','c'], "hola")

tupla[2][0] = 'b'   #[2] hace referencia al elemento de la posición 2 de la tupla y el [0] es el elemento de la posición 0 de la lista.

print(tupla)

(1, True, ['b', 'b', 'c'], 'hola')

Dada la siguiente estructura: lista=[1,True,['a','b','c'], "hola"]. 
Ejecutar la siguientes sentencias y describir los resultados.

a) print (lista[2])

b) print (lista [4])

c) lista.append (False)

print (lista)

In [ ]:
#A) Imprime lo que está en la posición 2 de la lista)
lista = [1,True,['a','b','c'], "hola"]
print (lista[2])

['a', 'b', 'c']

In [ ]:
#B) Este programa da error porque no existe, en esta lista, un elemento en la posición 4(que piden imprimir)
lista = [1,True,['a','b','c'], "hola"]
print (lista [4])

In [ ]:
#C) Se agrega/adiciona a la lista el elemento "False"
lista = [1,True,['a','b','c'], "hola"]
lista.append (False) 
print (lista)

[1, True, ['a', 'b', 'c'], 'hola', False]

Dada la siguiente estructura, ejecutá la siguientes sentencias y describí los resultados.

lista=[1,True,['a','b','c'], "hola"]

del lista[2]

print (lista)

In [ ]:
lista=[1,True,['a','b','c'], "hola"]
#elimina lo que tiene la lista en la posición 2.
del lista[2]

print (lista)

Dada la siguiente información, elija una estructura de datos que permita guardarla adecuadamente

● Guerra del Peloponeso 431 a.C

● Revolución de Mayo 1810 d.C

● Llegada de los españoles a América 1492 d.C

● Comienzo de la construcción de la gran Muralla China 214 a.C

In [ ]:
dato1 = 'Guerra del Peloponeso 431 a.C'
dato2 = 'Comienzo de la construcción de la gran Muralla China 214 a.C'
dato3 = 'Revolución de Mayo 1810 d.C'
dato4 ='Llegada de los españoles a América 1492 d.C'
acontecimientos = (dato1, dato2, dato3, dato4)
print(acontecimientos)